body {
    margin: 0;
    padding: 0;
}

.main-page {
    position: relative;
    display: flex;
    justify-content: center;

}

.image {
    height: 46em;
    width: 100%;
}

.headings {
    position: absolute;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;



    font-family: 'Lato', sans-serif;

}

.Hi {
    font-size: 100px;
}

h1 {
    font-size: 66px;
    margin-top: -19px;
}

.second-page {
    height: 46em;
    width: 100%;
}

.blackbox {
    background-color: #000;
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.h3 {
    font-weight: 400;
}

.you {
    font-size: 96px;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: 80mm 80mm 80mm;
    column-gap: 0px;
    margin-top: -6em;
    margin-left: 2em;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    height: 350px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 0;
    border-radius: 30px;
    box-shadow: 8px 6px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: wheat;
}

.img {
    height: 150px;
    width: 262px;
    border-radius: 30px 30px 0px 0px;

}

.grid-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.bottom-page {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    height: 203px;
}

.about-me {
    background-color: coral;
    padding: 20px;
    margin-left: 60px;
    margin-right: 100px;
    border-radius: 10px 10px 0px 0px;
}

.contact-me {
    background-color: cadetblue;
    padding: 20px;
    margin-left: 100px;
    margin-right: 60px;
    border-radius: 10px 10px 0px 0px;
}