body{
    margin: 0;
    padding: 0;
}
.main-page{
    position: relative;
    display: flex;
}
.image{
    height: 46em;
    width: 100%;   
}
.headings{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}
.Hi{
    font-size: 100px;
}
h1{
    font-size: 50px;
}